DATABASE_URL="postgresql://usuario:password@host/database?sslmode=require"
AUTH_SECRET="cambia-esto-por-un-secreto-largo-de-minimo-32-caracteres"
WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_VERIFY_TOKEN=""
WHATSAPP_TEMPLATE_AUTHORIZATION_NAME="solicitud_autorizacion_ingreso"
WHATSAPP_TEMPLATE_AUTHORIZATION_LANGUAGE="es_CO"
APP_PUBLIC_BASE_URL="https://tu-dominio.vercel.app"
